html
	head
		link(rel="stylesheet", href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css")
		link(rel='stylesheet', href='/css/group.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
	body
		.container
			ul.nav.nav-pills
				li.active
					a(data-toggle='pill', href='#faculty') Faculty
				li
					a(data-toggle='pill', href='#classschedule') Class Schedule
				li
					a(data-toggle='pill', href='#test') Test
				li
					a(data-toggle='pill', href='#train') Train Table
			.tab-content
				div#faculty.tab-pane.fade.in.active
					.col-md-1
					.col-md-10
						.panel-group
							.panel.panel-default
								.panel-heading ADMIN PAGE
								.panel-body
									div(style="margin-left: 15px;margin-right: 15px;")
										form(method='post', action='/adminadd').form-inline
											.form-group
												label.control-label.col-md-2.col-sm-2(for="text") Add Faculty
												.col-md-12.col-sm-12
													input.form-control(name='Faculty', type='text', placeholder='Faculty')
													input.form-control(name='Department', type='text', placeholder='Department')
													input.form-control(name='Major', type='text', placeholder='Major')
													button.btn.btn-primary(type="submit",name="save") Save
													button.btn.btn-danger(type='button', data-dismiss='modal') Cancle
							.panel.panel-default
								.panel-heading DATA
								.panel-body
									div(style="margin-left: 15px;margin-right: 15px;")
										table(style='width:100%')
											tr
												th Faculty
												th Department
												th Major
											for c in data
												tr
													td#faculty(style="width:25%")=c.faculty 
													td#department(style="width:25%")=c.department
													td#major(style="width:25%")=c.major
													td(style="width:25%;text-align:center")
														button.btn.btn-primary#edit(type="submit",name="save",data-toggle='modal', data-target='#editModal',data-faculty=c.faculty,data-department=c.department,data-major=c.major,data-id=c._id) EDIT
														button.btn.btn-danger#del(type='button',data-toggle='modal', data-target='#delModal',data-id=c._id) DELETE

					#editModal.modal.fade(role='dialog')
						.modal-dialog.modal-sm
							.modal-content
								.modal-header
									button.close(type='button', data-dismiss='modal') &times;
									|           
									h4.modal-title Edit
								form(method="post",action="/editfaculty")       
									.modal-body
										.form-group
											input.form-control.new_id(type='hidden', name='new_id') 
											input.form-control.new_faculty(name='new_faculty', placeholder='Enter Skill', required='')
											input.form-control.new_department(name='new_department', placeholder='Enter Skill', required='')
											input.form-control.new_major(name='new_major', placeholder='Enter Skill', required='')
									.modal-footer
										button.btn.btn-default(type='submit') Yes
										button.btn.btn-default(type='button', data-dismiss='modal') No
					#delModal.modal.fade(role='dialog')
						.modal-dialog.modal-sm
							.modal-content
								.modal-header
									button.close(type='button', data-dismiss='modal') &times;
									|           
									h4.modal-title Delete
								form(method="post",action="/delfaculty")       
									.modal-body
										p Are you sure???
										input.form-control.del_id(type='hidden', name='del_id') 
									|         
									.modal-footer
										button.btn.btn-default(type='submit') Yes
										button.btn.btn-default(type='button', data-dismiss='modal') No
				div#classschedule.tab-pane.fade
					.col-md-1
					.col-md-10
						.panel-group
							.panel.panel-default
								.panel-heading ADMIN PAGE
								.panel-body
									div(style="margin-left: 15px;margin-right: 15px;")
										form(method='post', action='/createschedule').form-horizontal
											.form-group
												label.control-label.col-sm-3 Faculty
												.col-md-9.col-sm-9
													select.form-control.faculty(name='faculty')
														for c in list
															option(value=c)=c
											.form-group
												label.control-label.col-sm-3 Department
												.col-md-9.col-sm-9
													select.form-control.department(name='department')
														option Plese choose Department
											.form-group
												label.control-label.col-sm-3 Major
												.col-md-9.col-sm-9
													select.form-control.major(name='major')
														option Plese choose Major
											.form-group
												label.control-label.col-sm-3 Year
												.col-md-9.col-sm-9
													select.form-control(name='year')
														option 1
														option 2
														option 3
														option 4
											.form-buttons
													button.btn.btn-primary(type="submit",name="save") create
													button.btn.btn-danger(type='button', data-dismiss='modal') Cancle
							.panel.panel-default
								.panel-heading DATA
								.panel-body
									div(style="margin-left: 15px;margin-right: 15px;")
										table(style='width:100%')
											tr
												th Faculty and year
											for c in name
												tr
													td(style="width:25%")=c.faculty 
														span=c.department
														span=c.major
														span ชั้นปีที่
														span=c.year
														a(href="/show/#{c.faculty}/#{c.department}/#{c.major}/#{c.year}")
															button.btn.btn-primary#edit(type="button",name="save",data-toggle='modal', data-target='#editModal',data-faculty=c.faculty,data-department=c.department,data-major=c.major,data-year=c.year) ADD
														button.btn.btn-danger#del(type='button',data-toggle='modal', data-target='#delModal',data-id=c._id) DELETE



					.col-md-1
		script(src="https://code.jquery.com/jquery-2.1.3.min.js")
		script.
			//- var edit = $('#edit');
			//- var faculty = $('#faculty').val();
			//- var department = $('#department').val();
			//- var major = $('#major').val();


			//- edit.click(function() {
			//- 	alert(faculty) 
			//- });
			$(document).on( "click", '#edit',function(e) {
			var faculty = $(this).data('faculty');
			var department = $(this).data('department');
			var major = $(this).data('major');
			var id = $(this).data('id');
			var num_id=id.slice(1, id.length-1);
			$(".new_id").val(num_id);
			$(".new_faculty").val(faculty);
			$(".new_department").val(department);
			$(".new_major").val(major);
			});

			$(document).on( "click", '#del',function(e) {
			var id = $(this).data('id');
			var num_id=id.slice(1, id.length-1);
			$(".del_id").val(num_id);
			
			});


			//- faculty 

			$(document).on( "change", '.faculty',function(e) {
			var value_faculty =  this.value;
			$.post("/choosefaculty",
			{
				faculty: value_faculty
			},
			function(data, status){

				$(".department").find('option')
							.remove()
							.end()
				//- $(".major").find('option')
				//- .remove()
				//- .end()
				$(".department").append("<option>plese choosedepartment</option>");
				for(var i=0;i<data.length;i++){
				$(".department").append("<option value="+"\""+value_faculty+","+data[i]+"\""+">"+data[i]+"</option>");
				//- var txt2 = $("<p></p>").text(data[i]);
				//- $("body").append(txt2);
				}
				});
			
			});
			$(document).on( "change", '.department',function(e) {
			var value_depart =  this.value;
			var res = value_depart.split(",");
			$(".major").find('option')
				.remove()
				.end()

			$.post("/choosedepartment",
			{
				faculty: res[0],
				department: res[1]
			},
			function(data, status){
				
				for(var i=0;i<data.length;i++){
				$(".major").append("<option value="+"\""+data[i]._id+","+data[i].major+"\""+">"+data[i].major+"</option>");
				//- var txt2 = $("<p></p>").text(data[i]);
				//- $("body").append(txt2);
				}
				});
			
			});


